h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291501080 - 2 -Elaborar el molde patrón de acuerdo a las especificaciones del producto.  