.container
    .header-ecored
        h1 1. El molde patrón
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
        p.mt-5 Cuando se observa un artículo de marroquinería como un bolso o billetera, se puede visualizar una composición de diferentes piezas ancladas que conforman el todo; en el corte de estas piezas se hace necesario la elaboración de moldes y con ello la importancia de conocer las líneas de construcción, puntos de referencias y marcas; porque cada molde será usado en el corte o armado del producto final y con un buen diseño se logra un buen trabajo desde el principio del proceso como lo dice Gloria Marulanda (2007) “Son el diseñador y el modelista quienes proceden a identificar los escenarios donde el consumidor se desenvuelve: el entorno social, laboral. económico y religioso. Esto les permite identificar los componentes básicos de la propuesta de moda en términos de siluetas, materiales, texturas, accesorios, detalles”. 

        .sub-ecored.mt-5#11
            h2 1.1	Líneas de construcción para la elaboración del molde patrón. 
        p.mt-5 Son las líneas que tienen como objetivo trazar la simetría y diseño acertado del modelo y se dividen en las siguientes: 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-10                    
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Líneas guía: líneas iniciales para realizar simetría se deben trazar y grafar.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Líneas constructivas: puntos o marcas que indican cómo construir el molde.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Piquetes: pequeños cortes en ángulo para identificar puntos de armado claves.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Marcado de moldes: información sobre referencia del bolso, pieza del bolso, piezas a cortar, material a cortar, aumentos, entre otros.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Calado: cortes pequeños con los cuales se pueden marcar con mina de plata, la posición de otras piezas del bolso para el armado.
        
        .sub-ecored.mt-5#12
            h2 1.2	Moldes patrón  
        p.mt-5 A continuación, se muestran las líneas de construcción para la elaboración del molde patrón tomando como ejemplo el fuelle y el frente de un bolso tipo Baúl. 
        p También se muestra el correcto marcado de un molde el cual nos da información acerca de la referencia, las piezas a cortar y aumentos posteriores a la elaboración del patrón.

        p Revisemos el proceso de trabajo para la elaboración del molde patrón, para este ejemplo se trabaja el bolso tipo baúl, para ello haga clic en cada uno de los enlaces que se presentan a continuación:

        .header-arrow.py-4.my-5
            h3 Paso 1: Modelado bolso tipo baúl por el fuelle sobre cartulina. 

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/DF2nOIHke5s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            
        
        .header-arrow.py-4.my-5
            h3 Paso 2: Medición y modelado de base, frente y espalda.

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NtcnpULAhzY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')      

        .header-arrow.py-4.my-5
            h3 Paso 3: Aumento molde de bolso tipo baúl, fuelle con aumentos.

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/YNar4Duqxqs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                          

        p.mt-5 Los materiales que se usan en la elaboración de este molde de tipo patrón son los siguientes: escuadras, compas, cartulina, lápices, borrador, cinta métrica, micro punta de colores, cuchilla de corte. 

        .header-arrow.py-4.my-5
            h3 Molde patrón “Fuelle”, líneas de construcción 
        img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid

        .header-arrow.py-4.my-5
            h3 Molde con aumentos “Fuelle”
        img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid

        .header-arrow.py-4.my-5
            h3 Molde patrón “Frente” 
        img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid

        .header-arrow.py-4.my-5
            h3 Molde con aumentos “Frente” 
        img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid                

        p.mt-5 Para concluir el presente punto no olvides que:
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-10                    
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Las líneas de construcción para la elaboración de moldes son fundamentales en el modelaje de marroquinería 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Hay que recordar que el molde patrón no tiene aumentos, sirve para constatar las dimensiones y proporciones del bolso.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Los patrones son la base para dar los aumentos para guarnición.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Los moldes que tienen aumentos sirven para cortar el material con el cual se va a elaborar el producto.
        p.mt-5 Ahora si como lo dice Ramírez (2009) inicia el trabajo “Después del diseño y elaboración de los patrones que forman un nuevo estilo de calzado, se puede decir que en el corte y troquelado se inicia el proceso productivo propiamente dicho, ya que es aquí donde se le da a la piel u otros materiales la misma forma de las piezas patrones”.