.container
    .header-ecored
        h1 3. Los sistemas de modelaje
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid
        p.mt-5 A continuación, se presentan una serie de videos con los modelajes de cada elemento, lo invitamos a revisarlos todos. 

        .sub-ecored.mt-5#31
            h2 3.1 Bolso tipo pinza 
        .sub-ecored-teme.mt-5
            h3 Bolso tipo pinza boceto. 
        p.mb-5 El primero de los videos muestra el orden en que se recomienda hacer el boceto junto con la forma ideal para producirlo.
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xB0XndmqFzA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 1 molde patrón

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Tyae0skn6E0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 2 portacremallera

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/s5Wemc71KU0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 3 ubicación de chapetas en el molde patrón

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qn8yIxaHILc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 4 bocacremallera

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/lS53F73qkIs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 5 molde del forro

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Po6qNW3yKKo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 6 refuerzo de la base

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/1Z2VIPyg1ZY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 7 manija del bolso

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/XfRLpB3J6hc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 8 puntera cremallera

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5TCKwKKZlNU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored-teme.my-5
            h3 Bolso tipo pinza paso 9 industrialización de moldes

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/sLe6SyYjObc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     

        .sub-ecored.mt-5#32
            h2 3.2 Bolso curvo con pinza
        .sub-ecored-teme.my-5
            h3 Bolso curvo con pinza paso 1 elaborar el molde patrón

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/UwFQOsuHRjA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .sub-ecored-teme.my-5
            h3 Bolso curvo con pinza paso 2 falso interno o portacierre

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/smPKqFE6O5o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .sub-ecored-teme.my-5
            h3 Bolso curvo con pinza paso 3 forro del bolso

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5jhLHaCs03U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .sub-ecored-teme.my-5
            h3 Bolso curvo con pinza paso 4 industrialización de los moldes

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mIxm8rysZ5M', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                                      
                  
        .sub-ecored.mt-5#33
            h2 3.3 Bolso con base
        .sub-ecored-teme.my-5
            h3 Bolso con base paso 1 elaboración molde de la base
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/V7tnilpvjtQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso con Base Paso 2 cuerpo del bolso

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dlu8WbLGd9c', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso con base paso 3 falso interno portacierre

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/of1nXk67qVE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso con base paso 4 forro del bolso

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/slnxoyhdhoY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso con base paso 5 y 6 refuerzo base:

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/F-qQNyzH9SM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   
                         
        .sub-ecored.mt-5#34
            h2 3.4 Bolso de giro
        .sub-ecored-teme.my-5
            h3 Bolso de giro paso 1
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jisIeFw6yGM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso de giro elaboración fuelle del bolso paso 2

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RVv5MwJZ54Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                   

        .sub-ecored-teme.my-5
            h3 Bolso de giro paso 3 y 4

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/awpCYQuAHD4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#35
            h2 3.5 Billetera larga
        .sub-ecored-teme.my-5
            h3 Billetera larga paso 1 elaborar molde patrón
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JKJk85ORMOg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')      

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 2 elaborar forro
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IS3JIse2kc4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                            

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 3 elaborar falso de la tapa
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/smgLpngjdz0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 4 elaborar molde de la billetera
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/EWh8QQKLHWQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 5 elaborar molde del forro de la billetera
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qFVWv2Q4SHI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 6 elaboración molde lomo o giro
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5TkNhP2WVqo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 7 elaborar molde del portadocumentos
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HlAWaXWrl2I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored-teme.my-5
            h3 Billetera larga paso 8 elaborar falsos internos
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/k2AxCgQxG74', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored.mt-5#36
            h2 4.6 Elaboración de molde billetera corta 
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b92IcayEHyk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')