.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        p.mt-5 El molde patrón es una herramienta básica en la producción de los productos en marroquinería ya que se presenta como la solución inicial y como su nombre lo dice una pieza maestra con la que se balancea todo el resto del contenido generado en un proceso marroquinero. Este molde patrón es una muestra real en formato que funciona como base productiva y su importancia se presenta en el presente material de formación, inicialmente se hace una descripción general de lo que significa y luego se hacen las muestras necesarias para que el aprendiz aprenda con una metodología de enseñanza centrada en el ejemplo cómo puede lograr esos moldes patrón de diferentes piezas, este componente trabaja con bolsos y billeteras pero su aplicación es general para todos los productos y categorías en marroquinería, bienvenido.
